name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint config files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Lint proxy nginx
        run: |
          # in our docker-compose.yml, our proxy depends on app and api, and
          # docker takes care of the networking. Here we test each nginx file
          # separately so nginx can't resolve `app` or `api`, so we pass it
          # manually.
          docker run --add-host=app:127.0.0.1 --add-host=api:127.0.0.1 --rm \
            -v ${{ github.workspace }}/:/etc/nginx/test:ro \
              nginx:alpine \
              nginx -t -c /etc/nginx/test/proxy/nginx.conf

      - name: Lint app nginx
        run: |
          docker run --rm -v ${{ github.workspace }}/:/etc/nginx/test:ro \
              nginx:alpine \
              nginx -t -c /etc/nginx/test/app/nginx.conf

      - uses: jbergstroem/hadolint-gh-action@v1
        with:
          dockerfile: "**/Dockerfile"

      - name: Validate docker-compose config
        run: |
          cd ${{ github.workspace }}
          docker compose config


  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v5

      - name: Build all images using compose
        run: |
          cp .env.example .env
          docker compose --env-file .env build

      - name: Package
        run: |
          docker save $(docker compose config --images) \
            | gzip > images.tar.gz

      - name: Save image artifacts
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: images.tar.gz
          retention-days: 1

  test:
    name: Test Platform
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5

      - name: Download image artifacts
        uses: actions/download-artifact@v4
        with:
          name: docker-images

      - name: Load images
        run: docker load < images.tar.gz

      - name: Start services
        run: |
          cp .env.example .env
          docker compose --env-file .env up -d --wait

      - name: Test whether proxy is up
        run: curl -fsS http://localhost:8001

      - name: Test API health
        run: curl -fsS http://localhost:8001/api/health

      - name: Show logs on failure
        if: failure()
        run: docker compose logs --no-color

      - name: Tear down
        if: always()
        run: docker compose down

  publish:
    name: Publish to GHCR
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images
        run: |
          cp .env.example .env
          docker compose --env-file .env build

          for service in app api proxy; do
            # {{ github.repository }} is capitalized which is not
            # allowed for a docker tag
            REPO=${{ github.repository }}
            REMOTE=ghcr.io/${REPO@L}/${service}
            docker tag assignment-${service} ${REMOTE}:${{ github.sha }}
            docker tag assignment-${service} ${REMOTE}:latest
            docker push ${REMOTE}:${{ github.sha }}
            docker push ${REMOTE}:latest
          done

  deploy:
    name: Deploy to my Hetzner server
    runs-on: ubuntu-latest
    needs: publish
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            set -ex
            cd assignment
            git pull
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io \
              -u ${{ github.actor }} --password-stdin

            CAPITALIZED_REPO=${{ github.repository }}
            REPO=${CAPITALIZED_REPO@L}
            docker pull ghcr.io/$REPO/app:${{ github.sha }}
            docker pull ghcr.io/$REPO/api:${{ github.sha }}
            docker pull ghcr.io/$REPO/proxy:${{ github.sha }}

            export IMAGE_TAG=${{ github.sha }}
            docker compose --env-file .env up -d --pull never --wait

            docker image prune -f
