name: CI

on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint config files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Lint proxy nginx
        run: |
          # in our docker-compose.yml, our proxy depends on app and api, and
          # docker takes care of the networking. Here we test each nginx file
          # separately so nginx can't resolve `app` or `api`, so we pass it
          # manually.
          docker run --add-host=app:127.0.0.1 --add-host=api:127.0.0.1 --rm \
            -v ${{ github.workspace }}/:/etc/nginx/test:ro \
              nginx:alpine \
              nginx -t -c /etc/nginx/test/proxy/nginx.conf

      - name: Lint app nginx
        run: |
          docker run --rm -v ${{ github.workspace }}/:/etc/nginx/test:ro \
              nginx:alpine \
              nginx -t -c /etc/nginx/test/app/nginx.conf

      - uses: jbergstroem/hadolint-gh-action@v1
        with:
          dockerfile: "**/Dockerfile"

  validate:
    name: Validate config files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Validate docker-compose config
        run: |
          cd ${{ github.workspace }}
          docker compose config


  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v5

      - name: Build all images using compose
        run: docker compose --env-file .env build

      - name: Package
        run: |
          docker save assignment-app assignment-api assignment-proxy \
            | gzip > images.tar.gz

      - name: Upload image artifacts
        run: ls

  test:
    name: Test Platform
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5

      - name: Download image artifacts
        run: ls
